* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
  font-family: "Big Shoulders Stencil Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  height: 100vh;
  color: #fff;
  background-image: linear-gradient(to top left, #06122c 0%, #cccfd4 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
    text-transform: uppercase;
    font-size: 7rem; 
    letter-spacing: 3px;
}

h2 {
    font-size: 2rem;
}

header {
    padding-block: 1rem;
}

footer {
    padding-block: 1rem;
}

.gameboard_container {
    display: flex;
    justify-content: space-around;
    color: #333;
    background-color: rgba(255, 255, 255, 0.35);
    width: 70rem;
    height: 35rem;
    border-radius: 10px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    padding: 2rem;
}

.player {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player--1 {
    opacity: 1;
}

.name {
    text-align: center;
    margin-block-end: 2rem;
}

.grid {
    border: 1px solid #333;
}

.grid_row {
    display: flex;
}

.grid_square {
    width: 30px;
    aspect-ratio: 1;
    border: 1px solid #333;
}

.btn {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    border: none;
}

.hit {
    background-color: #e38ea7;
}

.sunk {
    background-color: #b40539;
}

.miss {
    background-color: #6ee295;
}

.modal {
    max-width: 80%;
    margin: 0 auto;
    background-color: var(#dad8d8);
    color: var(#fff);
    border: none;
    padding: 2rem;
    top: 15%;
}